@import "tailwindcss";

:root {
  --background: #141414
}


* {
  user-select: none;
  scroll-behavior: smooth;
}

body {

  background: var(--background);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer base {
  p {
    @apply text-[18px] font-medium leading-[150%] text-[#999999]
  }

  h2 {
    @apply text-[55px] max-md:text-[35px] font-medium leading-[120%] text-white
  }

  h3 {
    @apply text-[45px] max-md:text-[30px] font-medium leading-[120%] text-white
  }

  button {
    @apply px-4 py-2 text-[18px] text-white cursor-pointer
  }
}

@utility flex-center {
  @apply flex items-center justify-center
}

@utility flex-between {
  @apply flex items-center justify-between
}

@utility common-padding {
  @apply px-16 max-lg:px-12 max-md:px-8 max-sm:px-4 py-3
}

@utility accent-color {
  @apply bg-[#BB3BF7]
}

@utility secondary-color {
  @apply bg-[#1A1A1A]
}